li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  padding-left: 0px;
  margin-left: 0px;
  text-transform: uppercase;
  color: #fff;
  opacity: 1;
}


li span {
  display: block;
  font-size: 3.5rem;
}

.count-down {
  font-weight: 900;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2vw;
  align-items: left;
  width: 100vw;
  height: 70vh;
  overflow: hidden;
}
