*,
*::after,
*::before {
  box-sizing: border-box;
  overflow-x: hidden;
}

section {
  height: 100vh;
  width: 100vw;
  background-color: #000;
}

.events {
  height: auto;
  background: rgb(0, 0, 0);
  background: rgb(31, 0, 82);
  background: -moz-linear-gradient(0deg,
      rgba(31, 0, 82, 1) 0%,
      rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(0deg,
      rgba(31, 0, 82, 1) 0%,
      rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(0deg,
      rgba(31, 0, 82, 1) 0%,
      rgba(0, 0, 0, 1) 100%);

  overflow-y: hidden;
}

.container {
  margin: 10px;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-around;
}

h1 {
  text-align: center;
  font-size: 10vw !important;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.aboutitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  width: 30%;
}

.eventstitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-bottom: 40px;
  margin-top: 20px;
}

.smalltext {
  text-transform: lowercase !important;
}

.titletext {
  text-transform: capitalize !important;
}

.card {
  /* Add shadows to create the "card" effect */
  width: 30%;
  padding: 30px;
  flex-basis: auto;
  height: auto;
  box-shadow: 0 0px 3px 0px rgba(254, 254, 254, 0.774);
  transition: 0.5s;
  background: rgb(0, 0, 0);
  filter: grayscale(100%);
  opacity: 1;

  text-transform: capitalize;

  margin: 1.5rem;
  padding: 0.5em;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 0px 16px 0 rgb(13, 230, 190);
  filter: grayscale(0%);
}

.logoclass {
  max-width: 60vh;
  padding-top: 5vh;
  text-align: center;
  display: inline;
}

.logoclass img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.main-page {
  height: 100vh;
  width: 100%;
}

/* Add some padding inside the card container */
.contain {
  padding: 2px 16px;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-size: 4.8vw;
  color: white !important;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

.card span {
  color: rgb(255, 255, 255) !important;
}

.about {
  overflow: hidden;
  height: auto;
}

.about .header {
  align-self: center;
  padding: 2em;
}

.about p {
  align-self: center;
  padding: 1em;
  padding-top: 0px;
  font-size: 40px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2f65ef;
  border-radius: 10px;
}

.count-down {
  background: rgb(56, 38, 158);
  background: -moz-linear-gradient(0deg, rgba(56, 38, 158, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(56, 38, 158, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(0deg, rgba(56, 38, 158, 1) 0%, rgba(0, 0, 0, 1) 100%);
  height: auto;
  overflow-y: hidden;
}

.mainshit {
  overflow: hidden;
}

.ready {
  font-size: 22vw;
  color: rgb(189, 191, 255);

}

.about {
  overflow: hidden;
  min-height: 100vh;
  background: rgb(0, 0, 0);
  background: rgb(56, 38, 158);
  background: -moz-linear-gradient(180deg, rgba(56, 38, 158, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(56, 38, 158, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(180deg, rgba(56, 38, 158, 1) 0%, rgba(0, 0, 0, 1) 100%);

  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.sponsors {
  background: rgb(31, 0, 82);
  background: -moz-linear-gradient(180deg,
      rgba(31, 0, 82, 1) 0%,
      rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(180deg,
      rgba(31, 0, 82, 1) 0%,
      rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(180deg,
      rgba(31, 0, 82, 1) 0%,
      rgba(0, 0, 0, 1) 100%);
  text-align: center;
  /* Full height */
  height: auto;
  overflow: hidden;
  margin-bottom: 30px;

  /* Create the parallax scrolling effect */
}

.contact {
  background: rgb(0, 0, 0);
  height: auto;
  padding-bottom: 3rem;
  background: rgb(12, 63, 159);
  background: -moz-linear-gradient(0deg, rgba(12, 63, 159, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(12, 63, 159, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(0deg, rgba(12, 63, 159, 1) 0%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c3f9f", endColorstr="#000000", GradientType=1);
  text-align: center;
}

.butt {
  text-align: center;
  margin: 2rem;
}

button {
  border-radius: 30px;
  outline: none;
  padding: 20px;
  border: 0px;
  font-weight: 900;
  color: #000;
  background-color: rgb(255, 255, 255);
}

.sponsors button {
  border-radius: 30px;
  padding: 20px;
  border: 0px;
  font-weight: 900;
  color: #fff;
  background-color: rgb(40, 0, 148);
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.logo-containerUnique img {
  max-width: 250px;
  max-height: 150px;
  margin: 3em 2%;
}

.rowUnique {
  padding: 1% 8%;
  margin-bottom: 5%;
  overflow: hidden;
  height: auto;
}

.social-link img {
  margin-right: 0.5em;
  float: left;
}
.instaIcon{
  float: left;
  font-size: 40px;

  margin-right: 5px;
}
.phoneIcon{
  float: left;
  font-size: 40px;

}


.social-media span {
  font-size: 30px
}

.numbers img {
  width: 3vw;
  margin-bottom: 5%;
}

.mainflex{
  display: flex;
  justify-content: space-between;
  margin: 40px;
  flex-wrap: wrap;
}

.numbers a {
  font-size: 30px;
  display: inline-block;
  padding: 0.1em;
  justify-content: space-evenly;
  margin: 10px;
  flex-wrap: wrap;
}

.mail,
.insta {
  display: flex;
  justify-content: space-around;
}

.social-media a:hover {
  color: #adadad;
}

.button {
  cursor: pointer;
  color: black;
  transition: all 0.3s ease-out;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  overflow-y: hidden;
}

.overlay:target {
  visibility: visible;
  display: flex;
  justify-content: space-around;
  opacity: 1;
}

.popup {
  margin: 50px;
  border-radius: 20px;
  background: rgb(140, 192, 244);
  background: -moz-linear-gradient(180deg, rgba(140, 192, 244, 1) 0%, rgba(96, 107, 244, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(140, 192, 244, 1) 0%, rgba(96, 107, 244, 1) 100%);
  background: linear-gradient(180deg, rgba(140, 192, 244, 1) 0%, rgba(96, 107, 244, 1) 100%);
  width: 70vw;
  height: 70vh;
  position: relative;
  /*overflow-y: hidden;
  <!--transition: all 5s ease-in-out;-- HEY! NO NEED FOR THIS BUT THIS IS A COOL THING CAN USE SOMEWHERE ELSE IN THE CODE TRY IT OUT!--> */
}

.popup ::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.popup-container {
  margin: 10px;
  padding: 5px;
  color: #000;
}

.popup h2 {
  margin-top: 0;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 2px;
  right: 2px;
  transition: all 200ms;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.popup .close:hover {
  color: black;
}

.popup-container .content {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', monospace, Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #0f003e;


}

h1 {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 900;
}

h2 {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif !important;
  font-weight: 900;

}

.popup-container div {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:600px) {
  .popup {
    width: 100%;
    height: auto;
  }
  .logo-containerUnique img {
    max-width: 150px;
    max-height: 150px;
    margin: 2em 2%;
  }

  .popup-container div {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .ready {
    font-size: 22vw;
    color: rgb(189, 191, 255);
    text-align: center;
  }

  .card {
    /* Add shadows to create the "card" effect */
    width: 35%;
    padding: 20px;
    flex-basis: auto;
    height: auto;
    box-shadow: 0 0px 3px 0px rgba(254, 254, 254, 0.774);
    transition: 0.5s;
    background: rgb(0, 0, 0);
    filter: grayscale(100%);
    opacity: 1;
    text-transform: capitalize;
    margin: 1.5rem;
    padding: 0.5em;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
  }

  .popup-container .content {
    display: flex;
    text-align: left;
    flex-direction: column;
    font-family: 'Montserrat', monospace, Arial, Helvetica, sans-serif;
    font-size: large;
    color: #0f003e;
    align-items: flex-start;

  }

  .prize {
    text-align: left !important;

  }
 

}

.about {
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about span {
  font-size: 30px !important;
  margin: 1.5rem;
}


.instaIcon{
  float: left;
  font-size: 20px;
  margin-right: 5px;
}
.phoneIcon{
  float: left;
  font-size: 20px !important;

}


.social-media span {
  font-size: 20px !important;
}



@media screen and (max-width:768px) {
  .about span {
    font-size: 20px !important;

  }

  .flex1, .flex2{
    width: 100%;
  }
}


@media screen and (min-width:770px)
{
.flex1, .flex2 {
  width: 50%;
  }
}
