*,
*::after,
*::before {
  box-sizing: border-box;
  overflow-x: hidden;
}

section {
  height: 100vh;
  width: 100vw;
  background-color: #000;
}

.events {
  height: auto;
  background: rgb(0, 0, 0);
  background: rgb(31, 0, 82);
  background: -moz-linear-gradient(
    0deg,
    rgba(31, 0, 82, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(31, 0, 82, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(31, 0, 82, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );

  overflow-y: hidden;
}
.container {
  margin: 10px;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-around;
}
h1 {
  text-align: center;
  font-size: 10vw !important;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.aboutitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  width: 30%;
}
.eventstitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-bottom: 40px;
  margin-top: 20px;
}

.card {
  /* Add shadows to create the "card" effect */
  width: 35%;
  flex-basis: auto;
  height: auto;
  box-shadow: 0 0px 3px 0px rgba(254, 254, 254, 0.774);
  transition: 0.5s;
  background: rgb(0, 0, 0);
  filter: grayscale(100%);
  opacity: 1;

  text-transform: capitalize;

  margin: 1.5rem;
  padding: 0.5em;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 0px 16px 0 rgb(13, 230, 190);
  filter: grayscale(0%);
}

.logoclass {
  max-width: 60vh;
  padding-top: 5vh;
  text-align: center;
  display: inline;
}
.logoclass img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.main-page {
  height: 100vh;
  width: 100%;
}

/* Add some padding inside the card container */
.contain {
  padding: 2px 16px;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-size: 4.8vw;
  color: white !important;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

.card span {
  color: rgb(255, 255, 255) !important;
}
.about {
  overflow: hidden;
  height: auto;
}
.about .header {
  align-self: center;
  padding: 2em;
}
.about p {
  align-self: center;
  padding: 1em;
  padding-top: 0px;
  font-size: 40px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2f65ef;
  border-radius: 10px;
}

.count-down {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 73, 55, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 73, 55, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 73, 55, 1) 100%
  );
  height: auto;

  overflow: hidden;
}
.ready {
  font-size: 22vw;
  color: rgb(216, 216, 216);
}
.about {
  overflow: hidden;
  min-height: 100vh;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 73, 55, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 73, 55, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 73, 55, 1) 100%
  );

  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.sponsors {
  background: rgb(31, 0, 82);
  background: -moz-linear-gradient(
    180deg,
    rgba(31, 0, 82, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(31, 0, 82, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(31, 0, 82, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  text-align: center;
  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
}

.contact {
  background: rgb(0, 0, 0);
  height: auto;
  padding-bottom: 3rem;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(82, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(82, 0, 0, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(82, 0, 0, 1) 100%
  );
  text-align: center;
}
.butt {
  text-align: center;
  margin: 2rem;
}

button {
  border-radius: 30px;
  outline: none;
  padding: 20px;
  border: 0px;
  font-weight: 900;
  color: #000;
  background-color: rgb(255, 255, 255);
}

.sponsors button {
  border-radius: 30px;
  padding: 20px;
  border: 0px;
  font-weight: 900;
  color: #fff;
  background-color: rgb(40, 0, 148);
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-link img {
  margin-right: 0.5em;
  float: left;
}

.social-media .insta img {
  width: 3vw;
  margin-top: 3.5%;
}
.social-media .mail img {
  width: 3.5vw;
  margin-top: 4.5%;
}
.social-media span {
  font-size: 2.5vw;
}

.numbers img {
  width: 3vw;
  margin-bottom: 5%;
}
.numbers div {
  display: flex;
}

.numbers a {
  font-size: 2vw;
  display: flex;
  padding: 0.1em;
  justify-content: space-around;
}

.mail,
.insta {
  display: flex;
  justify-content: space-around;
}

.social-media a:hover {
  color: #adadad;
}

.button {
  cursor: pointer;
  color: black;
  transition: all 0.3s ease-out;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  overflow-y: hidden;
}
.overlay:target {
  visibility: visible;
  display: flex;
  justify-content: space-around;
  opacity: 1;
}

.popup {
  margin: 70px;
  border-radius: 30px;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  width: 70vw;
  height: 70vh;
  position: relative;
  /*overflow-y: hidden;
  <!--transition: all 5s ease-in-out;-- HEY! NO NEED FOR THIS BUT THIS IS A COOL THING CAN USE SOMEWHERE ELSE IN THE CODE TRY IT OUT!--> */
}

.popup-container {
  margin: 30px;
  padding: 30px;
  color: #000;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: black;
}

.contact {
  background: linear-gradient(180deg, #000 0%, #bd2a4a 100%);
}
